.secondary__heading {
    font-size: 4rem;
    /* color: #333; */
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 30px;
    /* margin-left: 30px; */
    /* margin: 0 0 20px 100px; */
}

.section {
    padding: 75px  90px;
    position: relative;
}

.foooter {
    background-color: #3F4E4F;
    font-size: 20px;
    font-style: italic;
    padding: 20px;
    text-align: center;
    font-weight: 800;
    position: sticky;
    color: #fff;
    /* bottom: 0; */
    top: 100%;
}


