* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
.main {
  /* background-color: aquamarine; */
  /* padding: 10px; */
  height: 100vh;
  /* margin-bottom: 10px; */
}

.container {
  background-color: blanchedalmond;
  /* width: 500px;
    height: 500px; */
}

.navigation_ {
  background-color: #2C3639;
  width: 18%;
  height: 100vh;
  /* height: 100%; */
  /* width: 500px;
    height: 500px; */
}

.navigation_ ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  list-style: none;
  margin-top: 40px;
}

.navigation_ ul li {
  /* margin-left: 50px; */
  /* background: aquamarine; */
  padding: 10px 20px;
  width: 100%;
  position: relative;
  transition: all 0.5s;
}

.navigation_ ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  position: relative;
  z-index: 10;
  font-weight: 800;
}

.navigation_ ul .nav_li::before {
  content: "";
  width: 0;
  background-color: #3F4E4F;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  transition: transform 0.5s, width 0.5s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.3s, -webkit-transform 0.5s;
}

.navigation_ ul li:hover::before {
  transform: scaleY(1);
  width: 100%;
}

.navigation_ ul li:active::before {
  transform: scaleY(1);
  width: 100%;
}

.active {
  background: #3F4E4F;
}



.search {
  background-color: #3F4E4F;
  width: 100%;
  height: 8vh;
  /* height: 500px; */
}

.main-contents {
  background-color: #ddd;
  display: flex;
  align-items: center;
  /* width: 500px;
    height: 500px; */
}

.contents {
  background-color: #ccc;
  width: 85%;
  overflow: scroll;
  height: 100vh;
  position: relative;
  /* padding-bottom: 100px; */
  /* margin-bottom: 30px; */
}

.searchForm {
  
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.searchForm input {
  border: none;
  background-color: #f4f4f2;
  padding: 0.7rem 2rem;
  border-radius: 0 100px 100px 0;
  flex: 0 0 30%;
  outline: none;
  /* transform: translateX(-50%); */
}

.searchForm input:active {
  outline: red;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px; */
}
/* .sub-header {
  color: var(--bbc);
  text-decoration: underline;
  text-decoration-color: var(--bbc);
  text-transform: uppercase;
}
*/
.places,
.hotel,
.restaurants,
.memo {
  /* margin-top: 30px; */
  padding: 20px;
}
.places-inner,
.hotel-inner,
.restaurants-inner,
.memo-inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  /* margin-top: 20px; */
}

.card {
  /* padding: 20px; */
  width: 320px;
  height: 320px;
  background: #ddd;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  transition: all 0.5s;
  border-radius: 10px;
}


.top {
  width: 100%;
  height: 50vh;
  background: #A27B5C;
  position: absolute;
  top: -100%;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  transition: all 0.5s;
}

.bottom {
  width: 100%;
  height: 0;
  background: #DCD7C9;
  position: absolute;
  bottom: 0;
  left: 0;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  transition: all 0.5s;
}

/*.top-active-height {*/
/*  */
/*}*/

/*.bottom-active-height {*/

/*}*/

.active-content .top{
  top: 0;
}

.active-content .bottom {
  /*bottom: 0;*/
  height: 60vh;
}


.contents {
  position: relative;
}

.img-class {
  width: 100%;
  height: 50%;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.content-class {
  width: 100%;
  padding: 15px;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  /* flex-direction: column; */
}

.content-class h1{
  font-size: 15px;
  font-weight: 800;
  color: #333;
  letter-spacing: 1px;
}

.content-class p{
  font-size: 12px;
  font-weight: 800;
}

.btn-class {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  background-color: #3b3b08;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  cursor: pointer;
}


.icon {
  background: #f4f4f4;
  border: none;
  color: #aaa;
  /* padding: 0.7rem 0.7rem 2rem 0.7rem; */
  padding: 0.69rem 0.8rem;
  
  
  border-radius: 100px 0 0 100px;
  /* flex: 0 0 30%; */
}

/* NAVIGATION */
.navigation {
  position: relative;
}
.navigation__button {
  position: fixed;
  top: 50px;
  right: 60px;

  width: 65px;
  height: 65px;

  background-color: #f4f4f4;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 5px;

  z-index: 2000;
}

.navigation__button:hover {
  gap: 6px;
}

.navigation__button .navigation__icon {
  width: 2rem;
  height: 0.15rem;
  background: #333;
}

.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: -150%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  position: fixed;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 2000;
}

.navigation__background {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: fixed;
  top: 50px;
  right: 60px;
  background-image: radial-gradient(#93d2f0, steelblue);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__item {
  margin: 1rem;
  z-index: 2000;
  background-color: transparent !important;
}
.navigation__item span{
    margin-right: 20px;
}
.navigation__link::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  opacity: 0;
  transition: all 0.5s;
}
.navigation__link span {
  margin-left: 20px;
}
.navigation__item::before:hover {
  transform: scale(1);
  opacity: 1;
}

.navigation__nav {
  width: 100%;
  background: transparent;
  z-index: 2000;
}

.navigation__link {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
  z-index: 2600;
}
.navigation__link:hover {
  color: #333;
}

.navigation__link:hover::before {
  opacity: 1;
  transform: scale(1);
}

.active__btn {
  gap: 0;
}
.active__btn .navigation__icon:first-child {
  transform: rotate(140deg);
}
.active__btn .navigation__icon:nth-child(2) {
  transform: rotate(-140deg);
}
.active__btn .navigation__icon:nth-child(3) {
  opacity: 0;
}
.active__btn:hover {
  gap: 0;
}
.active__btn ~ .navigation__background {
  transform: scale(80);
}

.active__navigation__list {
  left: 50%;
}
